/* CONFIG ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  word-break: break-all;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

body::-webkit-scrollbar {
  display: none;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER ========================================================================= */
header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 37px;
  font-weight: bold;
  color: white;

  background-color: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
  cursor: pointer;
}

/* QUIZZ LIST ====================================================================== */
.quizz-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Empty-Quizz =============== */
.empty-quizz {
  width: 1050px;
  padding: 40px;
  margin: 80px 0;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.empty-quizz span {
  width: 220px;
  text-align: center;
  font-size: 20px;
  color: #B9B9B9;
}

.empty-quizz button {
  padding: 5px 25px;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  background-color: white;
  font-size: 21px;
  color: #EC362D;
  cursor: pointer;
}

/* My-Quizzes =============== */
.my-title {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.my-title ion-icon {
  margin-left: 10px;
  color: #EC362D;
  font-size: 30px;
  cursor: pointer;
}

.my-quizzes {
  margin-top: 10px;
  margin-bottom: 60px;
}

/* All-Quizzes ============== */
.all-quizzes {
  padding: 20px 0;
}

h1 {
  width: 1050px;
  font-size: 20px;
  font-weight: bold;
}

.all-quizzes ul,
.my-quizzes ul {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Quizz-Box ================ */
.quizz-box {
  position: relative;
  width: 340px;
  height: 180px;
  border-radius: 5px;
}

.quizz-box img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.quizz-box .gradient {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.quizz-box span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;

  font-size: 19px;
  color: white;
  cursor: pointer;
}

.icons-wrapper {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding: 10px;
  gap: 10px;
  color: white;
  background: #EC362D;
  border-radius: 10px 0px 0px 10px;
}

.icons-wrapper ion-icon {
  cursor: pointer;
}

/* QUIZZ-PAGE ====================================================================== */
.quizz-page {
  margin-top: 70px;
  background-color: #fafafa;
}

/* Page Header ================ */
.page-header {
  position: relative;
  height: 230px;
}

.page-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.page-header span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}


/* Questions ============== */
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  margin: 45px;
}

/* Question Container */
.question-box,
.result {
  width: 760px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 685px;

  font-weight: bold;
  font-size: 23px;

  color: white;
}

.question-box img {
  width: 330px;
  height: 175px;
  margin-bottom: 10px;
}

.answer {
  word-break: break-all;
}

.answer div {
  width: 330px;
  font-size: 20px;
  font-weight: bold;
}

/* PERGUNTAS COMPORTAMENTO */

.filtro-branco {
  opacity: 40%;
}

.true.selecionado,
.true.filtro-branco {
  color: #009C22;
}

.false.selecionado,
.false.filtro-branco {
  color: #FF4B4B;
}

/* Result */
.result-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.result-wrapper .title-wrapper {
  width: 100%;
}

.result {
  justify-content: initial;
  gap: 20px;
}

.result img {
  width: 364px;
  height: 273px;
}

.result .text {
  font-size: 19px;
  font-weight: bold;
  color: #484848;
  width: 335px;
  word-break: break-word;
}

.quizz-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 80px;
}

.reset-quizz {
  font-size: 21px;
  padding: 14px 60px;
  color: white;
  background-color: #EC362D;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.quit-quizz {
  font-size: 21px;
  color: #818181;
  cursor: pointer;
}

/* LOADING =========================================================================== */
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  font-size: 25px;
  color: #EC362D;
}

/* QUIZZ-CREATE ====================================================================== */
.quizz-create {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-creation {
  margin-top: 71px;
  font-weight: 700;
  font-size: 23px;
}

.box-creation {
  margin-top: 28px;
  background-color: white;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-create input {
  height: 48px;
  width: auto;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 14px;
  padding-right: 14px;
  outline: 0px;
  font-weight: 400;
  font-size: 19px;
}

.quizz-create textarea {
  height: 177px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  outline: 0px;
  font-weight: 400;
  font-size: 19px;
  resize: none;
}

.creation-space-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.quizz-create input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: #BABABA;
}

.quizz-create textarea::placeholder {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #BABABA;
}

.create-end {
  width: 220px;
  height: 44px;
  border-radius: 15px;
  border: 0px;
  background-color: #EC362D;
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}

.quizz-create .button {
  width: 370px;
  height: 54px;
  border-radius: 15px;
  border: 0px;
  background-color: #EC362D;
  color: white;
  margin-top: 85px;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 85px;
  cursor: pointer;
}

.quizz-create h1 {
  font-weight: 400;
  font-size: 16px;
  color: #EC362D;
  margin-bottom: 5px;
  margin-top: 3px;
}

.quizz-create h2 {
  font-weight: 500;
  font-size: 18px;
  color: #EC362D;
  margin-top: 10px;
  margin-bottom: -12px;
}

.quizz-create h3 {
  font-weight: 500;
  font-size: 18px;
  color: #EC362D;
  margin-top: 10px;
  margin-bottom: 0px;
}

.quizz-create h4 {
  font-weight: 400;
  font-size: 18px;
  color: #818181;
  cursor: pointer;
  margin-top: -10px;
}

.internal {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.external {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-creation {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.creation-space-2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.become-red {
  margin-top: 8px;
  background-color: #FFE9E9;
  margin-bottom: 2px;
}

.become-red-2 {
  background-color: #FFE9E9;
}

.become-red-3 {
  margin-top: 15px;
  background-color: #FFE9E9;
}

.image {

  position: relative;
}

/*ICONES DE EDITAR E EXCLUIR*/
.icon-div {
  position: absolute;
  background-color: #EC362D;
  width: 43px;
  height: 87px;
  position: absolute;
  /*em relação à imagem do quizz do usário*/
  border-radius: 20px;
  top: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon-trash-edit {
  width: 28px;
  height: 25px;
  color: #FFFFFF;
}

.icon-edit {
  width: 22px;
  height: 25px;
  color: #FFFFFF;
}

.quizz-box-2 {
  margin-top: 35px;
  position: relative;
  width: 340px;
  height: 180px;
  border-radius: 5px;
  cursor: pointer;
}

.quizz-box-2 img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.quizz-box-2 .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.quizz-box-2 span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;

  font-size: 19px;
  color: white;
}

/* OTHERS ========================================================================== */
.hidden {
  display: none;
}

/* MEDIA-QUERY ===================================================================== */
@media (max-width: 600px) {
  .box-creation {
    width: 100%;
    height: auto;
  }

  .internal {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1099px) {
  .title-creation {
    margin-top: 34px;
    font-weight: 700;
    font-size: 20px;
  }

  .quizz-create .button {
    margin-top: 30px;
    width: 324px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1099px) {
  .empty-quizz,
  .quizz-box,
  .all-quizzes ul,
  .my-quizzes ul,
  .all-quizzes,
  .my-quizzes,
  .question-box,
  .title-wrapper,
  .result,
  .result img,
  h1 {
    width: 100%;
  }

  /* Quizz-list (Main page) */
  .quizz-list {
    margin: 0 20px;
    margin-top: 70px;
  }

  .empty-quizz {
    margin: 40px 0;
  }

  .quizz-box {
    height: auto;
    aspect-ratio: 340 / 180;
  }

  /* Quizz-page */
  .questions {
    margin: 25px 0;
  }

  .question-box {
    padding-bottom: 40px;
    justify-content: initial;
  }

  .question-box img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .answer {
    flex: 40%;
  }

  .answer div {
    width: auto;
  }

  .result img {
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .result .text {
    width: 100%;
    padding-bottom: 10px;
  }
}